body {
    display: grid;
    height: 100vh;
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 90vw;
    background-color: wheat;
}
header {
    grid-row: 1;
    text-align: center;
}

footer {
    grid-row: 3;
    text-align: center;
}

board {
    grid-row:  2;

    background-color: silver;
}
.flex-grid {    
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border: 2px solid black;
    margin: 20px;
}

box {
    border: 2px solid black;
    padding: 2px;
    /* background-color: red */
}

.player1 {
    background-color: red;
    
}
.player2 {
    background-color: blue;
    color: white;
}

button{
    height: 30px;
    /* padding: 20px; */
}

.playerturn{
    min-width: 100px;
}